.chrome-picker {
  width: 200px !important;
  margin-top: 10px;
}

@media (max-width: 768px) {
  .chrome-picker {
    width: auto !important;
    margin-top: 10px;
  }
  .chrome-picker > div:first-child {
    padding-bottom: 20% !important;
  }
}

.hue-picker {
  width: 90vw !important;
  margin: 10px !important;
}

input[type='number'] {
  -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
